//Body Font
$fs: 18px;

//Special Font weights
$fw-normal: 400;
$fw-bold: 600; /*Poppins*/
$fw-bolder: 700;

//Font family
$ff-poppins: "Poppins", sans-serif; /*Heading*/
$ff-open-sans: "Open Sans", sans-serif; /*body, call-to-actions*/
