@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;

.cta {
  text-align: center;
  margin: 12rem 2rem;
  &__title {
    font-size: 1.75rem;
    font-family: t.$ff-poppins;
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, xl)) {
  .cta__title {
    font-size: 2rem;
  }
}
