@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;

.flowing {
  &__container {
    padding: 8rem 2rem;
    display: flex;
    flex-direction: column;
    .flowing__img {
      max-width: 100%;
      padding: 4rem 2rem;
    }
    .flowing__content {
      text-align: center;
      .flowing__title {
        font-family: t.$ff-poppins;
        margin-bottom: 1rem;
      }
      .flowing__body {
        font-family: t.$ff-open-sans;
        color: v.$nc-dark-cyan;
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, m)) {
  .flowing {
    &__container {
      .flowing__img {
        max-width: 70%;
        align-self: center;
        padding: 4rem 2rem;
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, lg)) {
  .flowing {
    &__container {
      display: flex;
      flex-direction: row;
      margin-top: 10rem;
      padding: 0rem 7rem;
      gap: 6.5rem;
      .flowing__img {
        max-width: 50%;
        padding: 4rem 2rem;
      }
      .flowing__content {
        text-align: left;
        align-self: center;
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, xxl)) {
  .flowing {
    &__container {
      .flowing__content {
        .flowing__title {
          font-size: 2.25rem;
        }
      }
    }
  }
}
