@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;

.section__background-top {
  width: 100%;
  transform: translateY(1.5rem);
  &--desktop {
    display: none;
  }
}
.grow {
  background-color: v.$nc-gray-blue;
  &__container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    .grow__img {
      max-width: 100%;
      padding: 4rem 2rem;
    }
    .grow__content {
      text-align: center;
      .grow__title {
        font-family: t.$ff-poppins;
        margin-bottom: 1rem;
      }
      .grow__body {
        font-family: t.$ff-open-sans;
        color: v.$nc-dark-cyan;
        font-size: 1rem;
      }
    }
  }
}

.section__background-bottom-1 {
  width: 100%;
  height: 50px;

  transform: translateY(3rem);
  &--desktop {
    display: none;
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, m)) {
  .grow {
    &__container {
      .grow__img {
        max-width: 70%;
        align-self: center;
        padding: 4rem 2rem;
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, lg)) {
  .section__background-top {
    width: 100%;
    transform: translateY(1.5rem);
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
  .grow {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      padding: 0rem 8rem;
      gap: 6rem;
      .grow__img {
        max-width: 50%;
        padding: 4rem 2rem;
      }
      .grow__content {
        text-align: left;
        align-self: center;
      }
    }
  }
  .section__background-bottom-1 {
    width: 100%;
    height: 50px;

    transform: translateY(3rem);
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
}
