@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;

.header {
  .navbar {
    display: flex;
    align-items: center;
    margin: 1.5rem 1.5rem;

    &__logo {
      width: 120px;
    }
    &__cta {
      margin-left: auto;
      border-radius: 50px;
      color: v.$pc-pink;
      text-decoration: none;
      font-family: t.$ff-open-sans;
      border: 1px solid v.$pc-pink;
      padding: 0.25rem 1.25rem;
      font-size: 0.7rem;
      &:hover,
      &:focus {
        color: v.$pc-light-pink;
      }
    }
  }

  &__content {
    text-align: center;
    margin: 6rem 2rem;
    .header__title {
      font-family: t.$ff-poppins;
      margin-bottom: 1.5rem;
      font-size: 1.75rem;
    }
    .header__body {
      color: v.$nc-dark-cyan;
      font-size: 1rem;
      font-family: t.$ff-open-sans;
      margin-bottom: 4rem;
    }
    .header__img {
      margin-top: 8rem;
      margin-bottom: 3rem;
      max-width: 100%;
    }
  }

  .header__stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header__stats {
      display: flex;
      flex-direction: column;
      margin-bottom: 6rem;
      text-align: center;
      .stats-img {
        width: 35px;
        &--msg-icon {
          width: 30px;
        }
      }
      .stats-title {
        font-size: 4rem;
        font-family: t.$ff-open-sans;
        margin-bottom: 0.5rem;
      }
      .stats-text {
        font-family: t.$ff-open-sans;
        color: rgb(139, 147, 155);
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, m)) {
  .header {
    .header__content {
      .header__body {
        width: 50%;
        margin-inline: auto;
      }
      .header__img {
        max-width: 80%;
      }
    }
    .header__stats-container {
      flex-direction: row;
      justify-content: space-around;
      .header__stats {
        margin-bottom: 3rem;
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, lg)) {
  .header {
    margin-bottom: 3rem;
    .navbar {
      margin: 3rem 3rem;

      &__logo {
        width: 240px;
      }
      &__cta {
        padding: 0.5rem 1.75rem;
        font-size: 0.75rem;
      }
    }
    &__content {
      margin: 8rem 2rem 5rem;
      .header__title {
        font-size: 2.5rem;
      }
      .header__body {
        width: 50%;
        margin-inline: auto;
      }
      .header__img {
        margin-top: 6rem;
        margin-bottom: 0rem;
      }
    }
    .header__stats-container {
      .header__stats {
        .header-title {
          font-size: 6rem;
        }
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, xxl)) {
  .header {
    .header__content {
      .header__title {
        font-size: 3rem;
      }
      .header__body {
        width: 35%;
        margin-inline: auto;
      }
      .header__img {
        margin-top: 6rem;
        margin-bottom: 3rem;
      }
    }
  }
}
