@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;
@use "../abstracts/mixins" as m;

.section__background-top {
  width: 100%;
  transform: translateY(1.5rem);
  &--desktop {
    display: none;
  }
}
.users {
  background-color: v.$nc-gray-blue;
  &__container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    .users__img {
      max-width: 100%;
      padding: 4rem 2rem;
    }
    .users__content {
      text-align: center;
      .users__title {
        font-family: t.$ff-poppins;
        margin-bottom: 1rem;
      }
      .users__body {
        font-family: t.$ff-open-sans;
        color: v.$nc-dark-cyan;
        font-size: 1rem;
      }
    }
  }
}

.section__background-bottom-2 {
  width: 100%;
  height: 100px;
  transform: translateY(6rem);
  &--desktop {
    display: none;
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, m)) {
  .users {
    &__container {
      .users__img {
        max-width: 70%;
        align-self: center;
        padding: 4rem 2rem;
      }
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, lg)) {
  .section__background-top {
    width: 100%;
    transform: translateY(1.5rem);
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
  .users {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      padding: 0rem 7rem;
      gap: 6.5rem;
      .users__img {
        max-width: 50%;
        padding: 4rem 2rem;
      }
      .users__content {
        text-align: left;
        align-self: center;
      }
    }
  }
  .section__background-bottom-2 {
    width: 100%;
    height: 100px;
    transform: translateY(6rem);
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
}

@media only screen and (min-width: map-get(v.$viewport_size, xxl)) {
  .users {
    &__container {
      .users__content {
        .users__title {
          font-size: 2.25rem;
        }
      }
    }
  }
}
